/**{
    border-radius: 5px;
    border: 1px solid blue
}*/
html  {

    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 

}
body{
    font-family: 'Dosis', sans-serif;
    width: 100vw;
    height: 99vh;
}
.personal{
    background-color: #93acbf;
    height: 98vh;
}
.program{
    /*background-color: #EAE7C0;*/
    margin-right: 0px;
    padding-right: 0px;
    margin-left: 0px;
    padding-left: 0px;

    background-color: #93ACBF;
    height:98vh;
}

#thumbs{
    overflow-y: scroll;
    position: relative;
    height: 85%;
    top: 16px;
}
#links{
    position: relative;
    height: 28vh;
    width: 100%;
    top: 0px;
}
.info{
    background-color: #EAE7C0;
    height: 98vh;
}
.container{
    margin:0px;
    padding:0px;
    margin:0px;
    width: 100vw;
    height: 95vh;
    background-color: white;
    background-image: none;
}

.row{
    margin:0px;
    padding:0px;
    margin:0px;
    width: 100%;
    height: 95vh;
}

.image{
    /*float: left;*/
    position: relative;
    top: 20px;
    left: 17%;
    display: block;
    width:68%;
    border-radius: 15px 50px;
}

.bio{
    margin-right:0px;
    padding:0px;
    height:31%;
    display:inline-block;
    margin-bottom:3px;
    margin-top:7px;
}
.bio-header{
    margin-right:0px;
    padding:0px;
    height:4%;
}
.exp-header, .program-header{
    margin-right:0px;
    padding:0px;
    height:8%;
}

.button-holder{
    background-color: #093A3E;
    padding-left:3px;
    padding-right:3px;
    margin-top: 7px;
    width:25px;
    display: inline-block;
}

.button-holder-2{
    background-color: #EAE7C0;
    padding-left:3px;
    padding-right:3px;
    margin-top: 7px;
    width: 10%;
    margin-right: 0px;
    display:inline-block;
}

.button-holder-3{
    background-color: #EAE7C0;
    padding-left:3px;
    padding-right:3px;
    margin-top: 7px;
    width: 7%;
    margin-right: 0px;
    display:inline-block;
}

.section-title{
    position: relative; 
    top:7px;
    padding-left: 15px;
    width:87%;
    display:inline-block;
    height:41px;
}
.section-title-2{
    position: relative;
    top:2px;
    padding-left: 4px;
    width:87%;
    color:#EAE7C0; 
    display:inline-block;
}
.bio-title{
    position: relative;
    width:100%;
    left:5%;    
}

.far{
    color:#EAE7C0;
    background-color: transparent;
}
.fas{
    color:#093A3E;
    background-color: transparent;
}

/**Style my Name Logo**/
.Logo{
    background-color: transparent;
    width: 98%;
    height: 36px;
    text-align: center;
    color: #EAE7C0;
    position: relative;
    /*padding: 20px;*/
    margin-top:20px;
    font-weight: bold;
    font-size: 25px;
    display: block;
    border-radius: 5px;
}
/**Style my Links**/
.links{
    /*position: relative;*/
    float: right;
    padding-left: 20px;
    /*top: 30%;*/
    right:165px;
    height:20px;
    font-size: 17px;
    color: #093A3E;
    display: block;
    width: 107%;

}


.thumbnail{
    height: 130px;
    width: 100%;
    left:10%;
}

.phone-title{
    position: relative;
    left:17%;
}
.phone-data{
    font-size: 17px;
}

.thumbnail-holder{
    position: relative;
    top:3%;
    height:150px;
    width:84%;
    left:8%;
    margin-bottom: 23px;
}
.link-holder{
    position: relative;
    /*top:3%;*/
    height:27vh;
    width:26%;
    left:0%;
    margin-bottom: 3px;
    margin-right: 0px;
    margin-left: 10%;
    float: left;
}
.hangman, .bart-rpg, .beer-game, .ajax, .train, .rec-bud{
    width:52%;
    margin-left: 4%;
}

#info-space{
    width: 100%
}
.hockey{
    background-image: url(../images/hockey.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 267px;
}
.nhl{
    background-image: url(../images/nhl.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.git{
    background-image: url(../images/git.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width:135px;    
}
.bart{
    background-image: url(../images/bart.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.rpg{
    background-image: url(../images/rpg.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 267px;
}
.beer{
    background-image: url(../images/beer.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.trivia{
    background-image: url(../images/trivia.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 267px;
}
.giphy{
    background-image: url(../images/giphy.png);
    background-size: cover;
    background-repeat: no-repeat;
}

td{
    padding:6px;
}
.gifs{
    background-image: url(../images/gif.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 267px;
}

.mta{
    background-image: url(../images/MTA.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.monster{
    background-image: url(../images/sched.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 267px;
}

.rb{
    background-image: url(../images/quac.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.recipe{
    background-image: url(../images/buddy.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 267px;
}

/**one class for the banner across each image**/
.banner{
    height:22%; /*40px;*/
    width:101%;
    background-color: #093A3E;
    color: #EAE7C0;
    text-align: center;
    position: relative;
    top: 100%;
    left: -1px;
    display: block;
    font-size: 13px;
    font-weight: bold;
}

.light-text{
    color: #EAE7C0;
}

.icon-pro{
    position: relative;
    left: 2px;
}

.icon-2{
    position: relative;
    left: 2px;
}

.icon-3{
    position: relative;
    left: 3px;
}


.title{
    height:30px;
    width:101%;
    background-color: #093A3E;
    color: #EAE7C0;
    text-align: center;
    position: relative;
    top: 10px;
    left: -1px;
    display: block;
    font-size: 20px;
}

.spacer{
    position: relative;
    left:0px;
    width:100%;
    height:165px;
    border-radius: 5px;
    border: 1px solid red;
}

@media screen and (max-width: 991px) {
/**{
    border-radius: 5px;
    border: 1px solid blue
}*/
.git{
    margin-left:10px;
}
.hangman, .bart-rpg, .beer-game, .ajax, .train, .rec-bud{
    width:72%;
    margin-left: 4%;
}
.exp-header, .bio-header, .program-header{
    height:0px;
}
h4{
    font-size: 20px;
}
}